# ANTOON-API GIT ACTION
name: Antoon Api Server Git-Action for STAGING

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # Actions Sequence
      - name: Start Action
        uses: actions/checkout@v2
        with:
          token: ${{ secrets.REPOSITORY_ACCESS_TOKEN }}
          submodules: true

      # Submodule Update
      - name: Git Sumbmodule Update
        run: git submodule update --remote --recursive

      # Set JDK Version
      - name: Set Up Jdk 17
        uses: actions/setup-java@v1
        with:
          java-version: 17

      # Modify Permission
      - name: Grant Execute Permission For Gradlew
        run: chmod +x gradlew

      # Build Gradle
      - name: Build With Gradle
        run: ./gradlew clean build

      # Login DockerHub
      - name: Login To DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      # Build Docker Container - Staging Branch
      - name: Docker Image Build And Push
        if: github.ref == 'refs/heads/staging'
        uses: docker/build-push-action@v2
        with:
          context: .
          push: true
          tags: antoonapi/antoon-core-api:staging

      # Build Docker Container - Main Branch
      - name: Docker Image Build And Push
        if: github.ref == 'refs/heads/main'
        uses: docker/build-push-action@v2
        with:
          context: .
          push: true
          tags: antoonapi/antoon-core-api:prod

      # Login AWS
      - name: Login Aws
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-northeast-2

      # Code Deploy
      - name: Deploy Docker Image
        run: aws deploy create-deployment --application-name antoon-core-api
          --deployment-config-name CodeDeployDefault.OneAtATime 
          --deployment-group-name antoon-core-api-group 
          --github-location repository=depromeet/antoon-api,commitId=${GITHUB_SHA}